* {
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: Helvetica;
    margin: 0%;
}

.navbar {
    display: flex;
    background-color: #1f1f1f;
    padding: 15px;
    text-align: center;

}

.navbar a {
    color: #cbcbcb;
    padding: 22px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #6b6b6b;

}

.photoheader {
    display: flex;
    /*background-color: #1f1f1f;*/
    width: 100%;
}

.photoheader:hover {
    content: "THE M4"; 
    color: #cbcbcb;   
    align-items: center;
    font-size: 40px;
    background-color: black;
    opacity: .3;
    transition: .5s ease-in-out;
    }

.movie {
    background: #1f1f1f;
    display: flex;
}
/*
.section {
    display: flex;
    flex-wrap: wrap;
}
*/
/*
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 1;
    overflow-x: hidden;
    padding-top: 20px;
}
*/
.left1 {
    left: 0;
    background-color: #cbcbcb;
    text-align: center;
    border-color: #1f1f1f;
    border-style:solid;
}

.right1 {
    right: 0;
    background-color: #cbcbcb;
    text-align: center;
    border-color: #1f1f1f;
    border-style: solid;
}

#m2 {
    right: 0;
    background-color: #cbcbcb;
    text-align: center;
    border-color: #1f1f1f;
    border-style: solid;
    max-height: 500px;
    overflow: hidden;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#m2.open {
    max-height: 1500px;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

/* not working? */
.buttonbackground {
    background-color: #cbcbcb;
}

#showmore {
    background: #1f1f1f;
    color: #cbcbcb;
    width: 140px;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    display: flex;

}

.email {
    border-style: solid;
    width: 100%;
    background-color: #cbcbcb;
    text-align: center;
}

input[type=text], input[type=email] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #1f1f1f;
    background-color: #b1b1b1;
    width: 50%;
}

input[type=submit] {
    background-color: #212f3c;
    color: #cbcbcb;
    width: 30%;
    padding: 15px;
}

.footer {
    display: flex;
    background-color: #1f1f1f;
    padding: 15px;
    text-align: center;
    color: #cbcbcb;
}
/*
.split left1 {
    flex: 50%;
    justify-content: flex-start;
    background-color: #cbcbcb;
    padding: 20px;
}

.split right1 {
    flex: 50%;
    justify-content: flex-end;
    background-color: #cbcbcb;
    padding: 20px;
}
*/
/*
.photoheader:hover::after {
    opacity: .3;
}

/*
.header {
    padding: 60px;
    text-align: center;
    background-color: #565656;
    
} 
*/








@media screen and (max-width: 768px) {
    .navbar, .section {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        font-size: 12px;
    }
}